@model AutoMarket.Models.UserRoleViewModel

@{
    ViewBag.Title = "Add Role";
    var roles_list = ViewBag.Roles;
    var current_roles = ViewBag.CurrentRoles as List<string>; // Assuming CurrentRoles contains a list of role IDs
}

<head>
    <style>
        .add-role-container {
            width: 50%;
            margin: 20px auto;
            background-color: #263238; /* Darker Grey Background */
            padding: 20px;
            border-radius: 10px;
            color: #E0E0E0; /* Light Grey Text */
        }

            .add-role-container h2 {
                color: #18BC9C; /* Emerald Green */
                margin-bottom: 20px;
            }

            .add-role-container .form-group {
                margin-bottom: 20px;
            }

                .add-role-container .form-group label {
                    display: block;
                    margin-bottom: 5px;
                }

            .add-role-container input[type="checkbox"] {
                display: none;
            }

                .add-role-container input[type="checkbox"] + label {
                    position: relative;
                    padding-left: 35px;
                    cursor: pointer;
                    user-select: none;
                }

                    .add-role-container input[type="checkbox"] + label:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 25px;
                        height: 25px;
                        border: 2px solid #18BC9C;
                        border-radius: 4px;
                        background: #263238;
                        transition: background 0.3s, border-color 0.3s;
                    }

                .add-role-container input[type="checkbox"]:checked + label:before {
                    background: #18BC9C; /* Emerald Green */
                    border-color: #18BC9C;
                }

                .add-role-container input[type="checkbox"]:checked + label:after {
                    content: "";
                    position: absolute;
                    left: 9px;
                    top: 5px;
                    width: 8px;
                    height: 16px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }

            .add-role-container .btn-submit {
                background-color: #18BC9C; /* Emerald Green */
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

                .add-role-container .btn-submit:hover {
                    background-color: #16A085; /* Darker Emerald Green */
                }

            .add-role-container .btn-link {
                color: white;
                text-decoration: none;
                margin-top: 10px;
                display: inline-block;
            }

                .add-role-container .btn-link:hover {
                    color: dimgray;
                }
    </style>
</head>

<div class="add-role-container">
    <h2>Add Role</h2>

    @using (Html.BeginForm("AddRole", "Account", FormMethod.Post))
    {
        <div>
            <hr />
            <div class="form-group">
                <label>Name:</label>
                @Html.DisplayFor(model => model.user.Name)
            </div>

            <div class="form-group">
                <label>Email:</label>
                @Html.DisplayFor(model => model.user.Email)
            </div>

            <div class="form-group">
                <label>Phone Number:</label>
                @Html.DisplayFor(model => model.user.PhoneNumber)
            </div>

            <div class="form-group">
                <label>City:</label>
                @Html.DisplayFor(model => model.user.City)
            </div>
        </div>
        @Html.HiddenFor(m => m.user.Id)
        @Html.HiddenFor(m => m.user.Name)
        @Html.HiddenFor(m => m.user.Email)
        @Html.HiddenFor(m => m.user.PhoneNumber)
        @Html.HiddenFor(m => m.user.City)
        <div class="form-group">
            <label>Roles:</label>
            @foreach (var role in roles_list)
            {
                var isChecked = current_roles.Contains(role.Id);
                <div>
                    <input type="checkbox" id="role-@role.Id" name="SelectedRoles" value="@role.Name" @(isChecked ? "checked" : "") />
                    <label for="role-@role.Id">@role.Name</label>
                </div>
            }
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-submit">Submit</button>
        </div>
    }

    @Html.ActionLink("Back to List", "Management", "Home", null, new { @class = "btn btn-link" })
</div>
