@model AutoMarket.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";

    var cities = new List<string>
   {
       "Skopje", "Bitola", "Kumanovo", "Prilep", "Tetovo",
       "Veles", "Ohrid", "Gostivar", "Strumica", "Kavadarci",
       "Kochani", "Kichevo", "Shtip", "Radovish", "Gevgelija",
       "Struga", "Debar", "Kriva Palanka", "Sveti Nikole", "Negotino",
       "Delchevo", "Vinica", "Resen", "Berovo", "Probishtip",
       "Kratovo", "Bogdanci", "Krushchevo", "Demir Hisar",
       "Makedonski Brod", "Valandovo", "Demir Kapija", "Pehchevo",
       "Dojran"
   };

    var cityList = cities.Select(city => new SelectListItem
    {
        Text = city,
        Value = city
    }).ToList();

    ViewBag.CityList = new SelectList(cityList, "Value", "Text");
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.City, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.City, ViewBag.CityList as SelectList, "Select a city", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
